:root {
  --light-grey: #f4f4f4;
  --dark-background: #2a2a2a;
  --white: #ffffff;
  --dark-grey: #444444;
  --red: #cc0000;
  --bright-red: #ff0000;
  --light-red: #ff3333;
  --hover-dark-grey: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

form {
  margin: 3rem auto 0 auto;
  width: 32rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-background);
  color: var(--white);
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.required {
  color: var(--bright-red);
  margin-left: 0.2rem;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: var(--dark-grey);
  color: var(--white);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--bright-red);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

textarea {
  height: 4rem;
}

.button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--light-red);
}

button[type="reset"] {
  background-color: var(--dark-grey);
}

button[type="reset"]:hover {
  background-color: var(--hover-dark-grey);
}
